@import url('https://fonts.googleapis.com/css?family=Exo|Teko&display=swap');

* {
    scroll-behavior: smooth;
}

body {
    background: #abbaab;
    background: linear-gradient(to right, #ffffff, #abbaab); 
    font-family: 'Exo', sans-serif;
}

.esquerda {
    height: 100vh;
    width: 40%;
}

.direita {
    height: 100vh;
    width: 40%;
    background-image: url('images/baseRobo.png');
    background-repeat: no-repeat;
}

.esquerda {

}

.direita {
    background-image: url(images/baseRobo.png)
}
.navbar-brand {
    font-family: 'Teko', sans-serif;
    font-size: 2em;
}

.navbar-nav {
    font-family: 'Teko', sans-serif;
    font-size: 1.5em;
}

.svg-highlight:hover {
    opacity: 0.6;
}

.flip-card {
    background-color: transparent;
    width: 15rem;
    height: 300px;
    border: 1px solid #fff;
    perspective: 1000px;
  }
  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

.flip-card-back {
    background-color: #191919;
    color: white;
    transform: rotateY(180deg);
}

.img-flip {
    height: 100%;
    width: 100%;
}

#mensagem-duvidas{
    resize: none;
}

.alignment-flip{
    box-sizing: border-box;
    padding-left: 30px;
}
